{{ ansible_managed | comment }}
[Unit]
Description=Traefik
Documentation=https://doc.traefik.io/traefik/
After=network-online.target
AssertFileIsExecutable={{ traefik_binary_install_dir }}/traefik
AssertPathExists={{ traefik_config_dir }}/traefik_static.yml

[Service]
User={{ traefik_system_user }}
AmbientCapabilities=CAP_NET_BIND_SERVICE
{% if traefik_environment_variables is defined %}
{% for key, value in traefik_environment_variables.items() %}
Environment={{ key}}={{ value }}
{% endfor %}
{% endif %}
Type=notify
ExecStart={{ traefik_binary_install_dir }}/traefik --configFile={{ traefik_config_dir }}/traefik_static.yml
Restart=always
WatchdogSec=1s
ProtectSystem=strict
PrivateTmp=true
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true
{% if traefik_acme_storage is defined %}
{% for path in traefik_acme_storage %}
ReadWritePaths={{ path }}
{% endfor %}
{% endif %}

[Install]
WantedBy=multi-user.target
